/node_modules
/public/hot
/public/storage
/public/build
/public/uploads
/public/public
/public/assets
/public/
/storage/*.key
/storage/logs
/storage/app
/storage/
/vendor
.env
.env.backup
.vscode
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
error_log
package-lock.json
public/build/manifest.json
yarn.lock
/www
/temp/
/bootstrap/cache/
/bootstrap/ssr/
